@{
    ViewData["Title"] = "Home Page";
}
<a id="button"></a>
@section injectLogin{
<form id="loginForm" class="cabecalho">
    <input type="text" placeholder="Utilizador" id="UserName" size="10" />
    <input type="password" placeholder="Palavra passe" id="Password" size="10" />
    <button id="btnLogOut" type="submit">Login</button>
</form>
}
@section injectBoasVindas{ 
    
<form id="boasVindasForm" class="cabecalho">
    <h4 id="boasvindas"></h4>
    <button type="submit">Logout</button>
</form>
}

@section barraTopo{
    <form id="pesquisaPublicacoesForm" class="cabecalho">
        <input type="text" placeholder="Escreva o nome dos utilizadores para procurar as suas publicações..." id="pesquisaPublicacoes" size="20" />
        <br />
        <button type="submit">Pesquisar publicações</button>
    </form>
}
<form id="criarPublicacao">
    <label>
        Nova publicação:
    </label>
    <br>
    <label>
        <input type="text" required name="publicacao" id="Caption" />
    </label>
    <br>
    <label>
        Foto:
        <input type="file" required name="foto" id="Fotografia" accept="image/jpeg" />
    </label>
    <br>
    <button type="submit">Partilhar</button>
</form>
<br>
@* Ver wwwroot/css/site.css ;) *@
<div id="publicacoes">A carregar publicacoes. Por favor aguarde...</div>
<div id="detalhesPublicacao" class="hidden">
    <div id="teste">
        <button type="button" id="esconderDetalhes" class="btn"><i class="fa fa-close"></i></button>
        <img id="fotoPublicada" />
        <h5 id="user" class="autorClass"></h5>
        <p id="caption"></p>
        <p id="numLikes"></p>
        <p id="data"></p>
        <table id="comentarios" border="0">
            <thead>
                <tr>
                    <th>Utilizador</th>
                    <th>Comentário</th>
                    <th>Data da publicação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/ApiPosts.js"></script>
    <script src="~/js/App.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
}