@{
    ViewData["Title"] = "Home Page";
}
<a id="button"></a>
@section barraTopo{
    <form id="pesquisaPublicacoesForm">
        <input type="text" placeholder="Escreva o nome dos utilizadores para procurar as suas publicações..." id="pesquisaPublicacoes" />
        <button type="submit">Pesquisar publicações</button>
    </form>
}
<form id="criarPublicacao">
    <label>
        Nova publicação:
    </label>
    <br>
    <label>
        <input type="text" required name="publicacao" id="publicacao" />
    </label>
    <br>
    <label>
        Foto:
        <input type="file" required name="foto" id="foto" accept="image/jpeg" />
    </label>
    <br>
    <button type="submit">Partilhar</button>
</form>
<br>
@* Ver wwwroot/css/site.css ;) *@
<div id="publicacoes">A carregar publicacoes. Por favor aguarde...</div>
<div id="detalhesPublicacao" class="hidden">
    <div id="teste">
        <img id="fotoPublicada" />
	</div>
	<div id="detalhesFoto">
		<button type="button" id="esconderDetalhes" class="btn"><i class="fa fa-close"></i></button>
        <h5 id="user" class="autorClass"></h5>
        <p id="caption" class="nome"></p>
		<p id="data" class="data"></p>
		<button type="button" id="Like" class="btnLike">♡</button>
		<br><br>
		<p id="numLikes"></p>
		<br>
		<textarea id="comentario" cols="40" rows="5" placeholder="Adicione um comentário"></textarea>
		<br>
		<button type="button" id="publicarComentario" class="btnComenta">Publicar</button>
		<br>
		<br>
        <table id="comentarios" border="0">
            <thead>
                <tr>
                    <th>Utilizador</th>
                    <th>Comentário</th>
                    <th>Data da publicação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/ApiPosts.js"></script>
    <script src="~/js/App.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
}